__pycache__/
*.py[cod]
.env
.env.*
!deploy/env/.env.example
*.sqlite3
*.db
.idea/
.vscode/
node_modules/
dist/
build/
coverage/
.mypy_cache/
.pytest_cache/
.sass-cache/
.DS_Store
*.log
*.lock
.eggs/
.mypy_cache/
cache/
